$light-grey: #999999;
$yellow: #FFD28E;
$orange: #FFA012;
$white: #FFFFFF;
$dark-grey: #565656;
$light-blue: #3AAFE8;
$almost-white: #F2F2F2;
$blue: #1271FF;
$red: #DD0028;
$green: #4AA22C;
$dark-blue: #0068B4;
$black: #000000;
$borders: #C9C9C9;
